<p id="notice"><%= notice %></p>

<p>
  <b>Sections:</b>
  <%= @student.sections_id %>
</p>

<p>
  <b>Student name:</b>
  <%= @student.student_name %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
