<!DOCTYPE html>
<html>
<head>
  <title>Assignment</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Class', new_claass_path %>
<%= link_to 'Sections', new_section_path %>
<%= link_to 'Students', new_student_path %>
<%= link_to 'Assessments', new_assessment_path %>
<%= link_to 'Results', new_result_path %>
<%= link_to 'Reports', reports_path %>
<%= yield %>


</body>
</html>
